@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,300;0,500;1,100;1,200;1,300;1,600&family=Outfit:wght@100;200;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,300;1,200&display=swap');
}