
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@layer base{
  html {
      font-family: var(--font-outfit);
    }
    body{
      background:  linear-gradient(0deg, rgba(4, 100, 255, 0.02) 0%, rgba(4, 100, 255, 0.02) 100%), #FFFBFE;
    }
}

@layer utilities{
  .shadow-1{
    box-shadow: 0px 0px 20px 0px rgba(157, 160, 167, 0.20);
  }
  .shadow-2{
    box-shadow: 0px 0px 50px 0px rgba(223, 225, 226, 0.50);
  }
  @layer components{
    .custom-pagination .MuiPaginationItem-root {
        /* Tailwind utility classes */
      }
    
      .custom-pagination .MuiPaginationItem-root.Mui-selected {
        @apply bg-Secondary-300 text-white;
        /* Selected state */
      }
    
      .custom-pagination .MuiPaginationItem-root:hover {
        @apply bg-Secondary-300 text-white;
        /* Hover state */
      }
  }
  
}
.slick-slide {
  padding: 0 15px;

}

.slick-list {
  margin: 0 2em;
  max-width: 1000px;
  margin: auto auto auto;
}
.nav-shadow{

  box-shadow: 0px 0px 50px 0px #DFE1E280;
}
/* .slick-arrow {
  z-index: 999;
  width: 40px;
  height: 40px;
  background-color: red;
} */